<template>
  <div id="notifications">
    <h1>This is notification page.</h1>

  </div>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
} from '@nuxtjs/composition-api';

export default defineComponent({
  layout: 'default',
  name: 'Index',
  components: {

  },
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  setup() {
    // @ts-ignore
    return {
    };
  },
});
</script>

<style lang="scss" scoped>
#notifications {

}
</style>
